

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', sans-serif;
    user-select: none;
    color: white;
}

main {
    background: #0A0519;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    display: flex;
    width: 300px; 
    justify-content: space-between;
    margin-bottom: 30px;
}
#choose-container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}


#header .player {
    background: #17122A;
    width: 100px;  
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
      font-size: 50px; 
    font-weight: bold;
    cursor: pointer;
    border-radius: 16px; 
    border: 4px solid #17122A;
    opacity: 0.5;
    transition: 0.3s;
}

#header .player:hover {
    border: 4px solid #2A2342;
}

#header .player-active {
    opacity: 1;
    border: 4px solid #2A2342;
    background: #2A2343;
}

#header #xplayerDisplay {
    color: #1892EA;
}

#header #oplayerDisplay {
    color: #A737FF;
}

#titleHeader {
    font-size: 28px; 
    text-align: center;
    width: 100%;
    margin: 0 10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 120px); 
    grid-template-rows: repeat(3, 120px); 
    gap: 15px; 
}

#board .cell {
    background: #17122A;
    border-radius: 16px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px; 
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

#board .cell:hover {
    background: #2A2343;
}

#restartBtn {
    margin-top: 30px;
    width: 300px; 
    background: #17122A;
    padding: 12px 0; 
    border: none;
    border-radius: 12px; 
    font-weight: 600;
    font-size: 20px; 
    cursor: pointer;
    transition: background 0.3s;
    visibility: hidden;
}

#restartBtn:hover {
    background: #2A2343;
}


#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
}

.confetti {
    position: absolute;
    width: 12px; 
    height: 12px; 
    border-radius: 2px;
    animation: fall 4s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}
