*{
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins"sans-serif,
    ;
    user-select: none;
    color: white;
}
main{
    background: #0A0519;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header{

    display: flex;
    width: 235px;
    justify-content: space-between;
    margin-bottom: 30px;

}
#header.player{
    background: #17122A;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius:12px ;
    border:  solid 4px #17122A;
    opacity: 0.5;
    transition: 0.3s;

}