@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
 font-family: 'Fredoka One', sans-serif;

    ;
    user-select: none;
    color: white;
}
main{
    background: #0A0519;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header{

    display: flex;
    width: 235px;
    justify-content: space-between;
    margin-bottom: 30px;

}
#header .player{
    background: #17122A;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius:12px ;
    border:  solid 4px #17122A;
    opacity: 0.5;
    transition: 0.3s;

}
#header .player:hover{
    border: solid 4px #2A2342;
}

#header .player-active{
    opacity: 1;
    border:solid 4px #2A2342

}
#header #xplayerDisplay{
    color:#1892EA ;
}
#header #oplayerDisplay{
    color:#A737FF ;
}
#board{
display: grid;
grid-template-columns: repeat(3,70px);
gap: 12px;
grid-template-rows: repeat(3,70px);
}
#board .cell{
background: #17122A;
border-radius: 12px;
display: flex;
align-items: center;
justify-content: center;
font-size: 36px;
font-weight: bold;
cursor: pointer;
  transition: background 0.3s;}
  #board .cell:hover{
    background: #2A2343;
  }
#restartBtn{
    margin-top: 30px;
    width: 235px;
    background: #17122A;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
      transition: background 0.3s;
}
#restartBtn:hover{
     background: #2A2343;
}

  
